<h2 class="mt">Add an Event</h2>
<div class="adminContainer">
    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <div class="addEvent">
        
        <div class="input-container input-container-event">
            <div class="input">
                <label for="">Type*</label>
                <select  formControlName="type" class="input-edit" >
                    <option value="meeting" selected>Meeting</option>
                    <option value="event" >Event</option>
                </select>
                <mat-error class="input-error" *ngIf="eventForm.get('type').hasError('required')&& eventForm.get('type').touched">
                    type is required.
                </mat-error>
            </div>
          
        </div>
        <div class="input-container input-container-event" >
            <div class="input">
                <label for="">Subject*</label>
                <input type="text"formControlName="title" class="input-edit" placeholder="Write down the subject">
                <mat-error class="input-error" *ngIf="eventForm.get('title').hasError('required')&& eventForm.get('title').touched">
                    title is required.
                </mat-error>
            </div>
            <div class="input">
                <label for="">Event details*</label>
                <input type="text" formControlName="description"  class="input-edit" placeholder="Describe the event">
                <mat-error class="input-error" *ngIf="eventForm.get('description').hasError('required')&& eventForm.get('description').touched">
                    description is required.
                </mat-error>
                
            </div>
            

        </div>
        <div class="input-container">
            <div class="input">
                <label for="">From*</label>
                <input type="datetime-local"  formControlName="from"  class="input-edit" placeholder="DD/HH/MM">
                <mat-error class="input-error" *ngIf="eventForm.get('from').hasError('required')&& eventForm.get('from').touched">
                    start date is required.
                </mat-error>
            </div>
            <div class="input">
               
                    <label for="">To*</label>
                    <input type="datetime-local" formControlName="to" class="input-edit" placeholder="DD/HH/MM">
                    <mat-error class="input-error" *ngIf="eventForm.get('to').hasError('required')&& eventForm.get('to').touched">
                        end date  is required.
                    </mat-error>
                    <mat-error class="input-error" *ngIf="eventForm.get('to').hasError('timeRange')">
                        start date shouldnt be greater than end date .
                       </mat-error>
                    
            </div>
        </div>
      
        <button class="update-button " [disabled]="eventForm.invalid">Add</button>
   
    </div>
</form>
</div>