
            <h2 class="mt">Material</h2>
            <div class="material-list">
                <div class="material-card">
                    <img src="../assets/icons/needle.png" alt="" class="mat-pic"> 
                    <h2>Needle : 120</h2>
                </div>
                <div class="material-card">
                    <img src="../assets/icons/knitting.png" alt="" class="mat-pic">
                    <h2>Knitting : 20</h2>
                </div>
                <div class="material-card">
                    <img src="../assets/icons/sewing.png" alt="" class="mat-pic">
                    <h2>Sewing Machine : 6</h2>
                </div>
            </div>
