<h2 class="mt">Material & Requests</h2>
<h3 class="info">Click on the material to manage requests</h3>
<div class="material-list">
    <a (click)="onclick('needle')">
        <div class="material-card">
            <img src="assets/icons/needle.png" alt="" class="mat-pic">
            <h2>Needle </h2>
        </div>
    </a>
    <a (click)="onclick('knitting')">
        <div class="material-card">
            <img src="assets/icons/knitting.png" alt="" class="mat-pic">
            <h2>Knitting </h2>
        </div>
    </a>
    <a (click)="onclick('sewingMachine')">
        <div class="material-card">
            <img src="assets/icons/sewing.png" alt="" class="mat-pic">
            <h2>Sewing Machine </h2>
        </div>
    </a>
    
</div>
<div class="material-list">
    <a (click)="onclick('scissor')">
        <div class="material-card">
            <img src="assets/icons/scissor.png" alt="" class="mat-pic">
            <h2>Scissors </h2>
        </div>
    </a>
    <a (click)="onclick('fabric')">
        <div class="material-card">
            <img src="assets/icons/textile.png" alt="" class="mat-pic">
            <h2>Fabric </h2>
        </div>
    </a>
    <a (click)="onclick('button')">
        <div class="material-card">
            <img src="assets/icons/button.png" alt="" class="mat-pic">
            <h2>Button </h2>
        </div>
    </a>
    
</div>