<div class="container">
    <div class="left-side">
        <h3>Bee</h3>
        <h2>Reset your password !</h2>
        <h4>Make you sure to save it somewhere</h4>
        <div class="img-container">
            <img src="assets/images/typing2.png" alt="">
        </div>
        
    </div>
    <div class="right-side" >
        <h2>Reset your password</h2>
        <div class="input-container">
            <label for="mail">Password*</label>
            <input type="email" name="" id="email">
           
        </div>
        <div class="input-container" >
            <label for="password">Retype the Password*</label>
            <input type="password" name="" id="password">
             
        </div>
        <button class="sign-in ">Save</button>
    </div>
</div>
