<div class="container">
    <div class="left-side">
        <h3>Bee</h3>
        <h2>Reset your password !</h2>
        <h4>Make you sure to save it somewhere</h4>
        <div class="img-container">
            <img src="assets/images/typing2.png" alt="">
        </div>
        work
    </div>
    <div class="right-side" >
        <h2>Reset your password</h2>
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" style="display: contents;">
        <div class="input-container">
            <label for="mail">Password*</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Enter new password">
            <div class="mail-error" style="display: block;color: red;margin-top: 8px;" *ngIf="resetForm.get('password').invalid && resetForm.get('password').touched">
                Password is required and must be at least 8 characters.
              </div>     
        </div>
        <div class="input-container" >
            <label for="password">Retype the Password*</label>
            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm new password">
            <div class="pass-error" style="display: block;color: red;margin-top: 8px;" *ngIf="resetForm.hasError('notMatched')">
              Passwords do not match.
            </div>
             
        </div>
        <button type="submit" class="sign-in" [disabled]="resetForm.invalid">Submit</button>
  
          </form>
   </div>
   

</div>
