<div class="eventHeader">
    <h2 class="mt">My Events</h2>
    <button class="btnEvent" ><a (click)="onclick()" >New Event</a></button>
</div>
<div class="eventContainer">
    <div class="event">
        <div>
            <h3>General Meeting</h3>
            <h5>14:00PM - Online</h5>
            <p>Discussing the QoS & ways to improve our servercies</p>
        </div>
        <div>
            <button class="edit">Edit</button>
            <button class="zoom"><a href="https://zoom.us">Zoom</a></button> 
        </div>
    </div>
    <div class="event">
        <div>
            <h3>General Meeting</h3>
            <h5>14:00PM - Online</h5>
            <p>Discussing the QoS & ways to improve our servercies</p>
        </div>
        <div>
            <button class="edit">Edit</button>
            <button class="zoom"><a href="https://zoom.us">Zoom</a></button> 
        </div>
    </div>
    <div class="event">
        <div>
            <h3>General Meeting</h3>
            <h5>14:00PM - Online</h5>
            <p>Discussing the QoS & ways to improve our servercies</p>
        </div>
        <div>
            <button class="edit">Edit</button>
            <button class="zoom"><a href="https://zoom.us">Zoom</a></button> 
        </div>
    </div>
</div>
