<div class="eventHeader">
    <h2 class="mt">My Events</h2>
    <button class="btnEvent" ><a (click)="onclick()" >New Event</a></button>
</div>
<div class="eventContainer">
    <div class="event" *ngFor="let ev of events">
        <div >
            <h3>{{ev.title}}</h3>
            <h5>{{ev.from}} ==> {{ev.to}}</h5>
            <p>{{ev.description}}</p>
        </div>
        <div>
            <button class="edit" (click)="onupdate(ev.id)">Edit</button>
            <button class="zoom">Delete </button> 
        </div>
    </div>
   
</div>
