<h2 class="mt">Conge Requests</h2>
<div class="conge-container ">

    <div *ngFor="let c of leavesWithEmployee" class="congeContainer">
        
        <h3>{{c.type}}</h3>
        <div class="time">
            <img src="assets/icons/clock.png" alt="" class="icon-min-size">
            <p>{{nbrJours(c.startDate,c.endDate)}} days</p>
            <div class="status">
          
                <div class="almost status-child ">
                    <p>{{c.employee.nbConge}} days left</p>
                </div> 
            </div>
        </div>
       
        <p>{{c.description}}</p>
        <hr>
        <div class="account-container">
            <img [src]="c.employee.image" alt="" class="icon-user">
            <div class="account">
                <h3>{{c.employee.firstName}} {{c.employee.lastName}}</h3>
                <h5>Employee</h5>
            </div>
        </div>
        
        <div class="btnHolder" style="justify-content: space-around; text-align: center;">
            <button class="btnNotify" >Accept</button>
            <button class="btnDanger">Refuse</button>
        </div> 
        <hr>
        <h5>Proof :</h5>
        <div class="proof">
            <p>Filename.pdf</p>
            <a [href]="c.proof" target="_blank">  <img src="assets/icons/download.png" alt="" class="icon"> </a>
        </div>
        </div>

    </div>
   

