<h2 class="mt">Conge Requests</h2>
<div class="conge-container">
    
        <table>
            <tr>
                <th>Full-name</th>
                <th>From</th>
                <th>To</th>
                <th>Proof</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td><a href="">Cyrine Srairi</a></td>
                <td>19-06-2023</td>
                <td>29-08-2023</td>
                <td>-</td>
                <td class="action-table">
                    <img src="../assets/icons/presence.png" alt="" class="icon-min-size">
                    <img src="../assets/icons/close.png" alt="" class="icon-min-close">
                </td>            
            </tr>
            <tr>
                <td><a href="">Cyrine Srairi</a></td>
                <td>19-06-2023</td>
                <td>29-08-2023</td>
                <td>-</td>
                <td class="action-table">
                    <img src="../assets/icons/presence.png" alt="" class="icon-min-size">
                    <img src="../assets/icons/close.png" alt="" class="icon-min-close">
                </td>            
            </tr>
            <tr>
                <td><a href="">Cyrine Srairi</a></td>
                <td>19-06-2023</td>
                <td>29-08-2023</td>
                <td>-</td>
                <td class="action-table">
                    <img src="../assets/icons/presence.png" alt="" class="icon-min-size">
                    <img src="../assets/icons/close.png" alt="" class="icon-min-close">
                </td>            
            </tr>
        </table>
    </div>
