<h2 class="mt">Employee | Nedra Guessmi</h2>
<div class="profile-container" >
    <div class="left-profile">
        <img src="../assets/Images/user.jpg" alt="" class="icon-profile">
        <div class="profile-main-infos">
            <h2>Nedra Guessmi</h2>
            <h4>Developer</h4>
        </div>
    </div>
    <div class="right-profile">
        <div class="action-container">
            <img src="../assets/icons/edit.png" alt="" class="icon edit-icon">
            <img src="../assets/icons/delete.png" alt="" class="icon">
        </div>
        <h2>Options</h2>
        <div class="input-container">
            <div class="input">
                <label for="">Full Name</label>
                <input type="text" value="Nedra Guessmi" disabled class="input-edit">
            </div>
            <div class="input">
                <label for="">Role</label>
                <select name="" id="" disabled class="input-edit">
                    <option value="">Developper</option>
                    <option value="">RH</option>
                    <option value="">Na3rech</option>
                </select>
            </div>
           
        </div>
        <div class="input-container">
            <div class="input">
                <label for="">Email</label>
                <input type="text" value="NedraGuessmi@gmail.com" disabled class="input-edit">
            </div>
            <div class="input">
                <label for="">Phone Number</label>
                <input type="text" name="" id="" value="92-999-999" disabled class="input-edit"> 
            </div>
        </div>
        <div class="input-container">
            <div class="input">
                <label for="">Birth Date</label>
                <input type="text" value="28/06/03" disabled class="input-edit">
            </div>
            <div class="input">
                <label for="">CIN</label>
                <input type="password" name="" id="" value="14292524" disabled>
            </div>
        </div>
        <button class="update-button">Update</button>
    </div>
</div>
