         <h2 class="mt">Presence</h2>
      
                    <table>
                        <tr>
                            <th>Picture</th>
                            <th>Full-name</th>
                            <th>Role</th>
                            <th>Entery Date</th>
                            <th>Leave Date</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <td><img src="assets/images/user.jpg" alt="" class="icon-user"></td>
                            <td>Cyrine Srairi</td>
                            <td>19-06-2023</td>
                            <td>29-08-2023</td>
                            <td>-</td>
                            <td class="action-table">
                                <p><a (click)="onclick()">Consult Profile</a></p>
                            </td>            
                        </tr>
                        <tr>
                            <td><img src="assets/images/user.jpg" alt="" class="icon-user"></td>
                            <td>Cyrine Srairi</td>
                            <td>19-06-2023</td>
                            <td>29-08-2023</td>
                            <td>-</td>
                            <td class="action-table">
                                <p><a (click)="onclick()">Consult Profile</a></p>
                            </td>            
                        </tr>
                        <tr>
                            <td><img src="assets/images/user.jpg" alt="" class="icon-user"></td>
                            <td>Cyrine Srairi</td>
                            <td>19-06-2023</td>
                            <td>29-08-2023</td>
                            <td>-</td>
                            <td class="action-table">
                                <p><a (click)="onclick()">Consult Profile</a></p>
                            </td>            
                        </tr>
                    </table>
         