         <h2 class="mt">Presence</h2>
      
                    <table>
                        <tr>
                          
                            <th>Full-name</th>
                            <th>Role</th>
                            <th>Entery DateTime</th>
                            <th>Leave DateTime</th>
                            <th>Actions</th>
                        </tr>
                        <tr *ngFor="let e of  presentEmployees"> 
                           
                            <td>{{e.firstName}} {{e.lastName}}</td>
                            <td>{{e.role}}</td>
                            <td>{{e.entryTime}}</td>
                            <td>{{e.exitingTime}}</td>
                            <td class="action-table">
                                <p><a (click)="onclick(e.id)">Consult Profile</a></p>
                            </td>            
                        </tr>
                        
                    </table>
         