<h2 class="mt">Presence</h2>
            <div class="conge-container">
               
                    <table>
                        <tr>
                            <th>Full-name</th>
                            <th>Role</th>
                            <th>Entery Date</th>
                            <th>Leave Date</th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <td><a style="color:blue" (click)="onclick()">Cyrine Srairi</a></td>
                            <td>Developer</td>
                            <td>19-06-2023</td>
                            <td>29-08-2023</td>
                            
                            <td class="action-table">
                                <p><a style="color:blue" (click)="onclick()">Consult Profile</a></p>
                            </td>            
                        </tr>
                        <tr>
                            <td><a style="color:blue" (click)="onclick()">Cyrine Srairi</a></td>
                            <td>Developer</td>
                            <td>19-06-2023</td>
                            <td>29-08-2023</td>
                            
                            <td class="action-table">
                                <p><a style="color:blue" (click)="onclick()">Consult Profile</a></p>
                            </td>            
                        </tr>
                        <tr>
                            <td><a style="color:blue" (click)="onclick()">Cyrine Srairi</a></td>
                            <td>Developer</td>
                            <td>19-06-2023</td>
                            <td>29-08-2023</td>
                            
                            <td class="action-table">
                                <p><a style="color:blue" (click)="onclick()">Consult Profile</a></p>
                            </td>            
                        </tr>
                    </table>
                </div>
            
