<h2 class="mt">List of employees</h2>
          
                <table>
                    <tr>
                        <th>Picture</th>
                        <th>Full-name</th>
                        <th>Role</th>
                        <th>Mail</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                    <tr *ngFor="let employee of employees">
                        <td><img [src]="employee.image" class="icon-user"></td>
                        <td>"{{ employee.firstName }} {{ employee.lastName }}"</td>
                        <td>Employee </td>
                        <td>{{ employee.email }}</td>
                        <td>{{employee.phoneNumber1}}</td>
                        <td class="action-table">
                            <img src="../assets/icons/edit.png" alt="" class="icon" (click)="onclick(employee.id)">
                            <img src="../assets/icons/delete.png" alt="" class="icon" (click)="onclick(employee.id)">
                        </td>  
                      </tr>
                 
                </table>
            
