<h2 class="mt">List of employees</h2>
          
                <table>
                    <tr>
                        <th>Full-name</th>
                        <th>Role</th>
                        <th>Mail</th>
                        <th>Phone Number</th>
                        <th>Actions</th>
                    </tr>
                    <tr>
                        <td><a style="color:blue" (click)="onclick()">Nedra Ghdamsi</a></td>
                        <td>Developper</td>
                        <td>Nedra@gmail.com</td>
                        <td>99-999-999</td>
                        <td class="action-table">
                            <img src="../assets/icons/edit.png" alt="" class="icon" (click)="onclick()">
                            <img src="../assets/icons/delete.png" alt="" class="icon" (click)="onclick()">
                        </td>            
                    </tr>
                    <tr>
                        <td><a style="color:blue" (click)="onclick()">Nedra Ghdamsi</a></td>
                        <td>Developper</td>
                        <td>Nedra@gmail.com</td>
                        <td>99-999-999</td>
                        <td class="action-table">
                            <img src="../assets/icons/edit.png" alt="" class="icon" (click)="onclick()">
                            <img src="../assets/icons/delete.png" alt="" class="icon" (click)="onclick()">
                        </td>            
                    </tr>
                    <tr>
                        <td><a style="color:blue" (click)="onclick()">Nedra Ghdamsi</a></td>
                        <td>Developper</td>
                        <td>Nedra@gmail.com</td>
                        <td>99-999-999</td>
                        <td class="action-table">
                            <img src="../assets/icons/edit.png" alt="" class="icon" (click)="onclick()">
                            <img src="../assets/icons/delete.png" alt="" class="icon" (click)="onclick()">
                        </td>            
                    </tr>
                </table>
            
