

            
            <div class="overview-content">
                <h2>Available Information</h2>
                <div class="card-container">
                    <div class="card card-employees">
                        <div class="card-header">
                            <img src="../assets/icons/employees.png" alt="" class="card-img">
                            <div class="card-header-text">
                                <h3>Total Emloyees</h3>
                                <h6>Your total number of employees</h6>
                            </div>
                        </div>
                        <h4>48<span>+2</span></h4>
                        <h6>20Worker 10Managers 10Anony</h6>
                    </div>
                    <div class="card card-presence">
                        <div class="card-header">
                            <img src="../assets/icons/material.png" alt="" class="card-img">
                            <div class="card-header-text">
                                <h3>Material</h3>
                                <h6>Check all of your equipments</h6>
                            </div>
                        </div>
                        <h4>120<span>used units</span></h4>
                        <h6>20 swingMachines 60 fabric 40 needles</h6>
                    </div>
                    <div class="small-card">
                        <h2>Settings</h2>
                        <div class="sm-card-img-container">
                            <img src="../assets/icons/profile.png" alt="" class="icon" (click)="onclick()">
                            <img src="../assets/icons/setting.png" alt="" class="icon">
                            
                        </div>
                    </div>
                </div>
                <h2>Quick Actions</h2>
                <div class="actions-container">
                    <div class="action">
                        <img src="../assets/icons/file.png" alt="" class="icon-user">
                        <div class="action-text">
                            <h3>Conge : 2 Days</h3>
                            <h4>Nedra Ghdamsi</h4>
                        </div>
                        <div class="take-action">
                            <div class="icon-container done">
                                <img src="../assets/icons/presence.png" alt="" class="icon">
                            </div>
                            <div class="icon-container close">
                                <img src="../assets/icons/close.png" alt="" class="icon close">                              
                             </div> 
                        </div>
                    </div>
                    <div class="action">
                        <img src="../assets/icons/file.png" alt="" class="icon-user">
                        <div class="action-text">
                            <h3>Material : needles</h3>
                            <h4>Nedra Ghdamsi</h4>
                        </div>
                        <div class="take-action">
                            <div class="icon-container done">
                                <img src="../assets/icons/presence.png" alt="" class="icon">
                            </div>
                            <div class="icon-container close">
                                <img src="../assets/icons/close.png" alt="" class="icon close">                              
                             </div> 
                        </div>
                    </div>
                    <div class="action">
                        <img src="../assets/icons/file.png" alt="" class="icon-user">
                        <div class="action-text">
                            <h3>Material : Fabric</h3>
                            <h4>Nedra Ghdamsi</h4>
                        </div>
                        <div class="take-action">
                            <div class="icon-container done">
                                <img src="../assets/icons/presence.png" alt="" class="icon">
                            </div>
                            <div class="icon-container close">
                                <img src="../assets/icons/close.png" alt="" class="icon close">                              
                             </div> 
                        </div>
                    </div>
                </div>
            </div>
  

    